In [4]:
import numpy as np
import pandas as pd

In [13]:
df = pd.DataFrame(np.random.randn(8,3), columns=['A', 'B', 'C'])
df.columns = [x.lower() for x in df.columns]
df

          a         b         c
0 -1.338593  1.225586 -0.785921
1 -0.030533  0.181052 -0.448153
2 -0.812801 -1.064441 -0.151358
3  0.299080 -0.707107  0.129143
4  0.860635 -1.496281  1.341589
5  1.622673  1.691995  1.992016
6  0.690006  1.204297 -0.422119
7  0.454759  1.131328 -0.076220

In [14]:
df.a.array

<PandasArray>
[  -1.3385933123707725, -0.030532758713518064,   -0.8128011976131535,
    0.2990795512814016,    0.8606351104254159,    1.6226725604359231,
    0.6900055089269569,   0.45475884495158986]
Length: 8, dtype: float64

In [15]:
data = np.random.randint(0, 7, size=50)
data

array([2, 4, 3, 3, 3, 4, 2, 0, 1, 2, 3, 5, 4, 0, 1, 5, 2, 5, 4, 0, 0, 6,
       1, 1, 1, 5, 5, 5, 6, 4, 2, 4, 0, 6, 0, 5, 3, 5, 2, 0, 3, 2, 5, 2,
       4, 3, 5, 3, 6, 1])

In [19]:
s = pd.Series(data)
s.value_counts()

5    10
2     8
3     8
4     7
0     7
1     6
6     4
dtype: int64

In [20]:
s5 = pd.Series([1, 1, 3, 3, 3, 5, 5, 7, 7, 7])

s5.mode()

0    3
1    7
dtype: int64

In [ ]:
df5 = pd.DataFrame({
    "A": no
})