# [Date & Time](https://www.dataquest.io/blog/python-datetime-tutorial/)

In [5]:
from datetime import datetime as dt

In [7]:
datetime_object = dt.now()
datetime_object

datetime.datetime(2022, 5, 31, 18, 3, 25, 21350)

In [9]:
my_string = '2019-10-31'

# Create date object in given time format yyyy-mm-dd
my_date = dt.strptime(my_string, "%Y-%m-%d")

print(my_date)

2019-10-31 00:00:00

In [10]:
print(my_date.month)
print(my_date.year)

10
2019

In [13]:
import calendar

print('Day of Month:', my_date.day)

# to get name of day (in number) from date
print('Day of Week(number): ', my_date.weekday())

# to get name of day from date
print('Day of week(name): ', calendar.day_name[my_date.weekday()])

Day of Month: 31
Day of Week(number):  3
Day of week(name):  Thursday

In [17]:
from datetime import datetime as dt

todays_date = dt.now()

# getting hour from datetime
print('Hour: ', todays_date.hour)

# getting minutes from datetime
print('Minute: ', todays_date.minute)

Hour:  18
Minute:  12

In [18]:
# Return a 3-tuple, (ISO year, ISO week number, ISO weekday)
todays_date.isocalendar()

datetime.IsoCalendarDate(year=2022, week=22, weekday=2)

In [21]:
now = dt.now()

# convert current date into timestamp
timestamp = dt.timestamp(now)

print("timestamp: ", timestamp)

timestamp:  1654035278.852743

In [24]:
dt_object = dt.fromtimestamp(timestamp)
dt_object

datetime.datetime(2022, 5, 31, 18, 14, 38, 852743)

## Measuring Time Span

In [25]:
from datetime import timedelta

# create a timedelta object with difference of 2 weeks
d = timedelta(weeks=2)

d

datetime.timedelta(days=14)

In [ ]:
# same thing with year