# [Sets in Python](https://realpython.com/python-sets/)

x = set(<iter>)

In [2]:
x = set(['foo', 'bar', 'baz', 'foo', 'qux'])
x

{'bar', 'baz', 'foo', 'qux'}

In [4]:
x = set(('foo', 'bar', 'baz', 'foo', 'qux'))
x

{'bar', 'baz', 'foo', 'qux'}

In [9]:
s = 'quux'
list(s)

['q', 'u', 'u', 'x']

In [7]:
set(s)

{'q', 'u', 'x'}

In [11]:
x = {'foo', 'bar', 'baz', 'foo', 'qux'}
x

{'bar', 'baz', 'foo', 'qux'}

In [12]:
# use curly braces to enter or .append as an object
{'foo'}

{'foo'}

In [13]:
# otherwise, the iterable gets broken down:
set('foo')

{'f', 'o'}

In [14]:
# empty sets made with set() function
x = set()
type(x)

set

In [15]:
# empty sets are falsy
bool(x)

False

In [16]:
# sets can be made with any data type, even combined
x = {42, 'foo', 3.14159, None}
x

{3.14159, 42, None, 'foo'}

In [17]:
# lists are mutable and can't be in sets
a = [1, 2, 3]
{a}

TypeError: unhashable type: 'list'

In [19]:
# set unions are done with the | operator
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}
x1 | x2

{'bar', 'baz', 'foo', 'quux', 'qux'}

In [24]:
# or with a the union method
x1.union(x2)

{'bar', 'baz', 'foo', 'quux', 'qux'}

In [22]:
# operator can only be used for two sets, the union method can pass any iterable into a set
x1 | ('baz', 'qux', 'quux')

TypeError: unsupported operand type(s) for |: 'set' and 'tuple'

In [21]:
x1.union(('baz', 'qux', 'quux'))

{'bar', 'baz', 'foo', 'quux', 'qux'}

In [26]:
# return the values common in both sets with intersection
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}
x1.intersection(x2)

{'baz'}

In [28]:
# or use an operator
x1 & x2

{'baz'}

In [29]:
# Specify objects that are unique to a set with difference
x1.difference(x2)

{'bar', 'foo'}

In [30]:
# or use an operator
x1 - x2

{'bar', 'foo'}

In [35]:
# You can modify an existing set with update or |=
x1 |= x2
x1

{'bar', 'baz', 'foo', 'quux', 'qux'}

In [33]:
x1.update(x2)
x1

{'bar', 'baz', 'foo', 'quux', 'qux'}