# [Data Viewing](https://data.compass.lighthouselabs.ca/c5002283-b6b4-4627-afab-03e4f0fc1cf4)

In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [6]:
df

                   A         B         C         D
2013-01-01 -1.599593 -0.597646 -1.701775  0.426148
2013-01-02 -1.665565  1.339723  1.164631  1.127060
2013-01-03  1.091873  0.278512 -0.389616  0.669042
2013-01-04 -0.217402 -1.069330  0.693697 -1.217087
2013-01-05  1.065606 -0.611233 -0.242936  1.585642
2013-01-06 -0.022991  0.122993 -0.632239  0.101577

In [7]:
df2 = pd.DataFrame({'A': 1.0,
    'B': pd.Timestamp('20130102'),
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
    'D': np.array([3] * 4, dtype='int32'),
    'E': pd.Categorical(["test", "train", "test", "train"]),
    'F': 'foo'})

In [8]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [9]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object